# temp files
.idea
.vs

# make file & built executable
MakeFile
proc-mtn-view

# unecessary (to commit)  cmake files
CMakeCache.txt
CMakeFiles
cmake-build-debug
cmake_install.cmake

# temp output files
img.ppm

